//variables, mixins
@import '../../../styles/resources.scss';


.scheduleManagementContainer{
    height:100%;
    width:100%;
    background-color:$contentBackground;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position:relative;
}