.scheduleType{
    width:20%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    &__options{
        width:33%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
    }
}