//variables, mixins
@import "../../../../styles/resources.scss";

.daySchedule {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    color: $textOnWhiteBackground;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 30%;
    grid-gap:1em;

    &__eventContainer {
        width: 100%;
        height: 100%;
        display:flex;
        align-items:center;
        justify-content:center;
        border:solid;
        flex-direction:column;
        border-radius:10px;

        h2{
            margin-bottom:1em;
        }
    }
}
