//variables, mixins
@import '../../../../styles/resources.scss';

.daySchedule{
    width:100%;
    height:100%;
    overflow-y:scroll;
    color:$textOnWhiteBackground;

    &__hourContainer{
        width:100%;
        height:10%;
        display:flex;

        &__hour{
            height:100%;
            width:10%;
            display:flex;
            align-items:center;
            justify-content:center;
            background-color:$background;
            color:$textOnWhiteBackground;
        }

        &__events{
            width:90%;
            height:100%;
            border:solid;
            border-bottom:none;
            border-right:none;
            color:$textOnWhiteBackground;
        }
    }
}