//variables, mixins
@import '../../../../styles/resources.scss';


.mainContainer{
    width:50%;
    height:100%;
    background-color:$secondBackground;
    overflow-y:scroll;

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}