//variables, mixins
@import '../../../../styles/resources.scss';


.mainContainer{
    width:50%;
    height:100%;
    background-color:$background;
    color:$textOnDarkBackground;
    overflow:hidden;

    &__eventsContainer{
        overflow-y:scroll;
        width:100%;
        height: 90%;

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}