//variables, mixins
@import '../../../../../../styles/resources.scss';


.eventContainer{
    width:100%;
    height:10%;
    display:flex;
    align-items:center;
    justify-content:center;
    
    &__description{
        width:88%;
        background-color:$darkerContentBackground;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    &__action{
        font-size:1.5em;
        width:12%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:$darkerContentBackground;
        cursor:pointer;
    }
}