//variables, mixins
@import '../../../../styles/resources.scss';


.scheduleType{
    width:20%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:$darkerContentBackground;

    &__options{
        width:33%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
        color:$textOnDarkBackground;
        opacity:0.5;

        &--active{
            opacity:1;
        }
    }
}