//variables, mixins
@import "../../../styles/resources.scss";

.mainContainer {
    width: 100vw;
    height: 92.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    margin-top:7.5vh;

    &__contentContainer {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__avatarContainer {
            height: 60%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;

            &__imageContainer {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 36% 64% 33% 67% / 56% 36% 64% 44%;
                    z-index: 2;
                    border-bottom: 4px solid $highlight;
                }

                &__shadow {
                    width: 100%;
                    height: 100%;
                    border-radius: 36% 64% 33% 67% / 56% 36% 64% 44%;
                    background-color: $highlight;
                    z-index: 1;
                    position: absolute;
                    transform: translateY(10%);
                    opacity: 0.05;
                    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                }
            }
        }

        &__detailsContainer{
            width:50%;
            height:20%;
            text-align:center;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;

            &__username{
                font-size:3em;
            }

            &__email{
                font-size:1.4em;
                opacity:0.6;
                margin-bottom:1em;
            }
        }

        &__inviteToFriendsContainer{
            width:50%;
            height:8%;
            display:flex;
            align-items:center;
            justify-content:center;

            button{
                @include button();
            }
        }
    }
}
