//variables, mixins
@import '../../../../styles/resources.scss';

.dateContainer{
    width:80%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background-color:$contentBackground;
    border-bottom: 1px solid $background;
    box-sizing:border-box;
    box-shadow: 1px 18px 17px 0px rgba(0,0,0,0.54);
    
    &__date{
        color:$textOnDarkBackground;
        margin:1em;
    }

    &__arrow{
        font-size:1.3em;
        color:$textOnDarkBackground;
        margin-top:10px;
    }
}