//variables, mixins
@import '../../../../styles/resources.scss';

.mainContainer{
    width:17.5%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    &__input{
        width:90%;
        height:70%;
        background-color:transparent;
        border:none;
        border-bottom:2px dashed $highlight;
        font-size:1.5rem;
        color:$darkerContentBackground;
        text-align:center;

        &:focus{
            outline:none;
        }
    }
}