//variables, mixins
@import '../../../styles/resources.scss';


.mainContainer{
    width:100vw;
    margin-top: 7.5vh;
    height:92.5vh;
    display:flex;
    flex-direction:column;
    color:$textOnWhiteBackground;

    &__contentContainer{
        width:100%;
        height:100%;
        display:grid;
        grid-template-rows: 7.5% 92.5%;
        grid-template-columns: 20% 80%;
        background-color:$background;
    }
}