//variables, mixins
@import "../../../../../../styles/resources.scss";

.quill {
    height: 50%;
}

.mainContainer {
    width: 100%;
    height: 90%;
    background-color: $contentBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    position: relative;

    &__description {
        background-color: black;
        z-index: 10;
        display: flex;
        flex: 1;
        display: flex;
        width:100%;
        flex-direction: column;
        height: 100%;
    }

    &__formContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;

        &__inputContainer {
            width: 65%;
            margin-bottom: 1em;

            label {
                font-size: 1.5rem;
            }

            input {
                height: 50%;
                border: none;
                background-color: rgba(255, 255, 255, 0.144);
                text-align: center;
                font-size: 1.2rem;
                padding: 0.5em;
                color: $textOnDarkBackground;

                &:focus {
                    outline: none;
                }
            }
        }

        &__description {
            height: 40vh;
            width: 90%;
            margin-bottom: 1em;
            overflow-y: scroll;

            .quill {
                height: 90% !important;
            }
        }

        &__button {
            margin-top: 2em;
            margin-bottom: 2em;
            @include button();
        }
    }
}
