//variables, mixins
@import "../../../styles/resources.scss";

.mainContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right:3px solid $contentBackground;

    &__imgContainer {
        width: 100%;
        height: 50%;
        display:flex;
        align-items:center;
        justify-content:center;

        img {
            width: 80%;
            height: 80%;
        }
    }

    &__userDetailsContainer {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: left;

        &__nameContainer {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
        }

        &__descriptionContainer {
            height: 80%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            font-size: 1rem;

            p {
                max-width: 80%;
            }
        }
    }
}
