//variables, mixins
@import '../../../../styles/resources.scss';


.mainContainer{
    width:42%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    &__input{
        width:95%;
        height:70%;
        background-color:rgb(230, 230, 230);
        border-radius:5px;
        border:none;
        border-bottom:4px solid $highlight;
        font-size:1.5rem;
        color:$textOnWhiteBackground;
        text-align:center;

        &:focus{
            color:$textOnWhiteBackground;
            outline:none;
        }
    }
}