//variables, mixins
@import '../../../../styles/resources.scss';


.mainContainer{
    height:92.5%;
    width:100%;
    background-color:$background;
    z-index:5;
    position:absolute;
    top:7.5%;
    right:0;

    &__routesContainer{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:space-around;
        flex-direction:column;

        &__route{
            width:100%;
            height:33.3%;
            display:flex;
            align-items:center;
            justify-content:center;
            text-align:center;
            background-color:rgba(32, 8, 97, 0.801);
            background-image:url("../../../../resources/img/loginBg.png");
            background-blend-mode:saturation;
            background-size:65%;
            background-repeat:no-repeat;
            background-position:center;

            a{
                text-decoration:none;
                cursor:pointer;
                font-size:2em;
            }
        }
    }
}   