//variables, mixins
@import "../../../../styles/resources.scss";

.mainContainer {
    height: 92.5%;
    width: 100%;
    background-color: $background;
    z-index: 5;
    position: absolute;
    top: 7.5%;
    right: 0;

    &__topFillerContainer {
        width: 100%;
        height: 40%;
        
        &__imgContainer {
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                width: 70%;
                height: 100%;
            }
        }

        &__descriptionContainer {
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            p{
                max-width:90%;
            }
        }
    }

    &__loggedUserContainer {
        width: 100%;
        height: 20%;
        display: flex;

        &__avatar {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__description {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__routeContainer {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $textOnWhiteBackground;

        &:hover {
            background-color: $contentBackground;
            color: $textOnDarkBackground;
        }

        a {
            font-size: 1.5rem;
            text-decoration: none;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            color: inherit;
        }
    }
}
