//variables, mixins
@import '../../../../../styles/resources.scss';

.mainContainer{
    width:98%;
    height:15%;
    background-color:$background;
    display:flex;
    margin-bottom:1em;
    border-radius:10px 10px 10px 10px;

    &__icon{
        width:20%;
        height:100%;
        background-color:blue;
        background-image:url("https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        border-right:1px solid $text;
    }

    &__description{
        width:65%;
        height:100%;
        background-color:$contentBackground;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        
        h2{
            margin-bottom:1rem;
        }

        &__city{
            opacity:0.8;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;

            &__icon{
                display:flex;
                align-items:center;
                justify-content:center;
            }
        }

        &__time{
            opacity:0.4;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;

            &__text{
                margin-right:0.2rem;
            }
            &__icon{
                display:flex;
                align-items:center;
                justify-content:center;
            }
        }
    }

    &__additionalInfo{
        width:15%;
        height:100%;
        display:flex;
        flex-direction:column;

        &__availability{
            width:100%;
            height:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            background-color:$darkerContentBackground;
        }

        &__category{
            width:100%;
            height:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            background-color:$darkerContentBackground;
        }
    }
}