//variables, mixins
@import '../../../../../styles/resources.scss';

.mainContainer{
    width:100%;
    height:15%;
    background-color:$darkBlueBackground;
    display:flex;
    margin-bottom:1em;

    &__icon{
        width:20%;
        height:100%;
        background-color:blue;
    }

    &__description{
        width:65%;
        height:100%;
        background-color:$notActiveHighlight;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }

    &__additionalInfo{
        width:15%;
        height:100%;
        display:flex;
        flex-direction:column;

        &__availability{
            width:100%;
            height:50%;
            display:flex;
            align-items:center;
            justify-content:center;
            background-color:$darkBlueBackground;
        }

        &__category{
            width:100%;
            height:50%;
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }
}