// colors
$background: #FFFFFA;
$contentBackground: #140152;
$darkerContentBackground:#04052E;
$notActive:#0d071d6e;
$highlight: #3002af;
$textOnDarkBackground: rgba(255, 255, 255, 0.993);
$textOnWhiteBackground: rgba(26, 26, 26, 0.993);

// $background: #090809;
// $background: #04052E;
// $contentBackground: #140152;
// $notActive:#0d071d6e;
// $highlight: #3002af;
// $textOnDarkBackground: rgba(255, 255, 255, 0.993);


// $background: #04052E;
// $contentBackground: #140152;
// $notActive:#0d071d6e;
// $highlight: #3002af;
// $textOnDarkBackground: rgba(255, 255, 255, 0.993);