//variables, mixins
@import '../../../styles/resources.scss';

.mainContainer {
    width: 70%;
    height: 95%;
    grid-column: span 3;
    grid-row:span 2;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:space-around;
}