//variables, mixins
@import "../../../styles/resources.scss";

.mainContainer {
    width: 100%;
    min-height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__contentDescription {
        width: 80%;
        min-height: 25%;
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h2 {
            font-size:3em;
            margin-left: 1rem;
            letter-spacing: 0.1rem;
        }
    }

    &__nortificationsContainer {
        width: 92.5%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        overflow-y: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;

        ::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
    }
}
