//variables, mixins
@import '../../../styles/resources.scss';


.mainContainer{
    position:absolute;
    right:0;
    height:100%;
    width:20%;
    background-color:$background;
    z-index:5;

    &__close{
        height:7.5%;
        width:100%;
        display:flex;
        justify-content:flex-end;
        align-items:flex-start;
        
        button{
            background-color:transparent;
            outline:none;
            border:none;
            font-size:2em;
            padding:0.5em;
            cursor:pointer;
        }
    }
}