.mainContainer{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    position:relative;

    &__contentContainer{
        width:100%;
        height:92.5%;
        background-color:cyan;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:row-reverse;


        &__formContainer{
            width:45%;
            height:90%;
            background-color:white;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
        }

        &__featuresContainer{
            width:45%;
            height:90%;
            background-color:green;
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }
}