//variables, mixins
@import '../../styles/resources.scss';

.mainContainer{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    position:relative;
    color:$textOnDarkBackground;

    &__contentContainer{
        width:100%;
        height:92.5%;
        background-color:$background;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:row-reverse;


        &__formContainer{
            width:30%;
            height:80%;
            background-color:$contentBackground;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            border-radius:5px;

            &__inputContainer{
                width:50%;
                height:10%;

                label{
                    font-size:1.5rem;
                    margin-bottom:0.2rem;
                }

                input{
                    height:50%;
                    border:none;
                    background-color:rgba(255, 255, 255, 0.144);
                    text-align:center;
                    color:$textOnDarkBackground;
                    font-size:1.2rem;
                }
            }

            &__loginLink{
                margin:1rem;
                a{
                    text-decoration:none;
                }
            }

            button{
                @include button();
            }
        }

        &__featuresContainer{
            width:35%;
            height:90%;
            display:flex;
            align-items:center;
            justify-content:center;
            background-image:url("../../resources/img/loginBg.png");
            background-blend-mode:saturation;
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
        }
    }
}