.mainContainer{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position:relative;

    &__contentContainer{
        width:97.5%;
        height:92.5%;
        display:grid;
        grid-template-rows: 31.9% 3.3% 28.6% 8.3% 13% 16.6%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:2em;
    }
}