.mainContainer{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position:relative;

    &__contentContainer{
        width:97.5%;
        height:92.5%;
        display:flex;
        align-items:flex-start;
        justify-content:center;
    }
}