//variables, mixins
@import "../../styles/resources.scss";

.mainContainer {
    width: 100vw;
    height: 92.5vh;
    margin-top: 7.5vh;
    display:flex;
    align-items:center;
    justify-content:center;

    &__contentContainer {
        height:90%;
        width:65%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 40% 60%;
        grid-gap:1.5em;
        position: relative;
        overflow: hidden;

        &__userDetails {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
            grid-row:span 2;
            background-color:$contentBackground;
        }

        &__upcomingEvents {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color:$contentBackground;
        }

        &__friendsAndGroups{
            width:100%;
            height:100%;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            background-color:blue;
        }
    }
}
