//variables, mixins
@import '../../styles/resources.scss';

.mainContainer{
    height:7.5%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    z-index:5;
    background-color:$background;

    &__appName{
        width:92.5%;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        letter-spacing:0.3rem;

        h2{
            color: $textOnWhiteBackground;
        }
    }

    &__hamburger{
        height:100%;
        width:5%;
        background-color:$background;
        font-size:4em;
        display:flex;
        align-items:center;
        justify-content:center;
        color: $textOnWhiteBackground;
        cursor:pointer;
    }
}