//variables, mixins
@import '../../../../../styles/resources.scss';


.menuContainer{
    height:60%;
    width:100%;
    background-color:#0d071d6e;
    overflow-y:scroll;
    position:relative;
    color: $textOnDarkBackground;

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
}