//variables, mixins
@import "../../../../styles/resources.scss";

.mainContainer {
    display: flex;
    width: 15%;
    height: 100%;
    background-color: $background;
    color: $textOnDarkBackground;

    &__eventTypeBtn {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $notActive;
        opacity: 0.3;
        border:none;
        outline:none;
        cursor:pointer;

        &--active {
            background-color: $highlight;
            opacity: 1;
        }
    }
}
