.menuContainer{
    height:60%;
    width:100%;
    background-color:cyan;
    overflow-y:scroll;
    position:relative;

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
}