//variables, mixins
@import '../../../../styles/resources.scss';


.mainContainer{
    height:100%;
    width:17.5%;
    display:flex;
    align-items:center;
    justify-content:center;
    
    &__select{
        width:90%;
        height:50%;
        background-color:$background;
        border-radius:5px;
        border:none;
        border-bottom:4px solid $highlight;
        font-size:1.5rem;
        color:$textOnWhiteBackground;
        text-align:center;

        &__option{
            cursor:pointer;
        }
    }
}