//variables, mixins
@import '../../styles/resources.scss';

//https://pngtree.com/freepng/teamwork-concept-people-working-in-table-meeting-and-the-co-working-office-flat-vector-illustration_6667637.html

.mainContainer{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    position:relative;
    color:$textOnDarkBackground;

    &__contentContainer{
        background-color:$background;
        width:100%;
        height:92.5%;
        display:flex;
        align-items:center;
        justify-content:center;
        background-image:url("../../resources/img/loginBg.png");
        background-size:60%;
        background-repeat:no-repeat;
        background-position:center;

        &__formContainer{
            width:25%;
            height:60%;
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            background-color:$contentBackground;
            position:relative;
            border-radius:1rem;

            h2{
                font-size:2em;
            }


            &__inputContainer{
                width:65%;
                height:20%;

                label{
                    font-size:1.5rem;
                    margin-bottom:0.2rem;
                }

                input{
                    height:50%;
                    border:none;
                    background-color:rgba(255, 255, 255, 0.144);
                    color:$textOnDarkBackground;
                    text-align:center;
                    font-size:1.2rem;

                    &:focus{
                        outline:none;
                    }
                }
            }

            &__registerLink{
                margin:1rem;
                a{
                    text-decoration:none;
                }
            }

            button{
                @include button();
            }

            &__facebook{
                font-size:1.1rem;
                position:absolute;
                bottom:0;
                letter-spacing:0.2rem;
            }
        }
    }
}